.history/
.vscode/

# Python
__pycache__
.python-version
*.pyc
*.pyo

# Egg Info
*.egg-info
*.egg
dist/

*.log
.run*
dump


# SVA intermediate files
*.pyc.sv
reset.rseq

# Jasper directory
jgproject/
